*{
    border: none;
}

p {
    color: #323232;
    font-size: larger;
    font-family: sans-serif;
    font-weight: 500;
}

.imageDiv {
    height: 100%;
}

.imageDiv img {
    position: inherit;
    height: calc(100%);
}